div.discord_server_invite
{
	margin:auto;
	max-width:500px;
	width:100%;
}
div.discord_server_invite_body
{
	background-color:#2F3136;
	border-radius:0 0 4px 4px;
	padding:0 16px 16px 16px;
	width:100%;
}
a.discord_server_invite_button
{
	background-color:#43B581;
	border-radius:3px;
	color:#FFF;
	float:right;
	font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	font-weight:500;
	height:40px;
	line-height:40px;
	margin:5px 0;
	outline:0;
	padding:0 20px;
	text-decoration:none;
	transition:.17s;
}
a.discord_server_invite_button:hover
{
	background-color:#3CA374;
}
a.discord_server_invite_button:active
{
	background-color:#369167;
}
div.discord_server_invite_header
{
	background-color:#7289DA;
	border-radius:5px 5px 0 0;
	display:block;
	overflow:hidden;
	padding:8px 0 4px 8px;
	width:100%;
}
div.discord_server_invite_header a
{
	color:#FFFFFF;
	display:inline-block;
	line-height:34px;
	height:34px;
	width:124px;
	text-decoration:none;
	text-transform:uppercase;
	transition:.25s ease-out;
}
div.discord_server_invite_header a:hover
{
	opacity:.6;
}
div.discord_server_invite_header a img
{
	vertical-align:text-bottom;
}
div.discord_server_invite_icon
{
	background-color:#36393F;
	background-size:100% 100%;
	border-radius:30%;
	display:inline-block;
	height:50px;
	margin-right:16px;
	vertical-align:middle;
	width:50px;
}
p.discord_server_invite_text
{
	color:#B9BBBE;
	cursor:default;
	display:inline-block;
	font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	line-height:16px;
	margin-bottom:12px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-transform:uppercase;
	white-space:nowrap;
	width:100%;
}
p.discord_server_invite_title
{
	color:#FFF;
	display:inline-block;
	font-family:Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:600;
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle;
	white-space:nowrap;
}